header {
  background-color: #bbbbbb;
}

nav li {
  display: inline-block;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  font-size: 22px;
  text-decoration: none;
}
