header {
  background-color: #bbbbbb;
  padding: 0 0;
}

.caixa {
  width: 100%;
  position: relative;
}

h1 {
  position: relative;
  left: 10%;
}

nav {
  position: absolute;
  top: 110px;
  right: 10%;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: darkblue;
  /* text-decoration: underline; */
}

.produtos {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 1.5% 1.5%;
  box-sizing: border-box;
  padding: 30px 20px;
  /* border-color: black;
  border-width: 5px;
  border-style: solid; */
  border: black 5px solid;
  border-radius: 40px;
}

.produtos li:hover {
  border-color: darkblue;
}
.produtos li:hover h2 {
  font-size: 35px;
}
.produtos li:active {
  border-color: darkgreen;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produtos_descricao {
  font-size: 18px;
}

.produtos_precos {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url('../Mídias/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
}

main {
  width: 100%;
  margin: 20px 20px;
}

form {
  margin: 40px 0;
}

form label,
form p,
form select {
  margin-left: 25%;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input_padrão {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 25px 25px;
  width: 50%;
}

#send {
  text-align: center;
}

.checkbox {
  margin: 20px 0;
}
